.first-block {
  width: 122px;
  height: 108px;
}
.logo-wrapper {
  min-width: 122px;
  margin-right: 24px;
  height: 108px;
}
.third-wrapper {
  min-width: 511px;
}
.second-block-wrapper {
  min-width: 278px;
  margin-right: 24px;
}
.second-block {
  width: 279px;
  height: 108px;
}
.tenth-wrapper {
  min-width: 297px;
}
.third {
  width: 513px;
  height: 108px;
}
.background {
  background-color: #777777;
}
.header {
  margin: 24px 0 21px 0;
  display: flex;
  justify-content: center;
}
body {
  min-height: 100vh;
  position: relative;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 22px;
  font-family: Arial;
  color: rgb(255, 255, 255);
  min-width: 1000px;
}
.bold {
  font-weight: bold;
}
.main {
  width: 960px;
  margin: auto;
  padding: 0 10px;
}
.fifth {
  height: 210px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #dcdcdc;
  color: #777777;
}
.description {
  padding: 33px 0 0 20px;
}
.fifth .psd-file {
  margin: 0;
  padding: 10px 20px 0;
}
.fourth-sidebar {
  max-width: 174px;
  height: 335px;
  padding: 19px 32px 0 13px;
  overflow: auto;
}
.fourth-wrapper {
  min-width: 174px;
}
.fourth-sidebar .about-site {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.title {
  font-weight: bold;
  margin: 0;
}
.sixth-images {
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
  width: 782px;
}
.sixth-images img {
  width: calc(20% - 20px);
  display: block;
}
#seventh {
  width: 184px;
  height: 134px;
  align-self: flex-end;
}
#eight-nine {
  width: 801px;
  height: 200px;
  display: flex;
}
.tenth,
.eleventh {
  width: 297px;
  height: 180px;
  overflow: auto;
}
.tenth {
  overflow-x: hidden;
}
#fourth-fifth-sixth {
  display: flex;
  margin: 21px 0 21px 0;
  justify-content: center;
}
.sixth-images img {
  margin-left: 20px;
  margin-bottom: 20px;
}
.seventh-eighth-ninth {
  display: flex;
  margin: -20px 0 25px 0;
  justify-content: center;
}
.eighth {
  margin: 0 18px 0 20px;
}
.footer {
  margin: 25px 0 25px 0;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.empty {
  padding-bottom: 231px;
}
.eleventh {
  margin: 0 28px 0 28px;
}
.eleventh ul {
  list-style-type: square;
  margin: 14px 0 10px;
}
.twelve,
.thirteenth {
  width: 308px;
  height: 76px;
}
.twelve {
  margin-bottom: 28px;
}
#text-info {
  width: 142px;
  float: right;
  padding: 12px 22px 0 0;
  text-align: right;
}
#text-info p {
  margin: 0;
  padding: 10px 0 0;
}
#text-info a {
  color: rgb(255, 255, 255);
}
.tenth ol {
  column-count: 2;
  list-style-type: none;
  margin: 0;
  padding: 15px 0 9px 25px;
}
.eighth,
.ninth {
  padding: 10px 20px 0;
  flex: 50%;
  background-color: #dcdcdc;
  color: #777777;
}

